  .header {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 95%;
    gap: 20px;
    overflow: hidden;
    justify-content: space-between;
    padding: 15px 25px 1px;
  }

  @media (max-width: 991px) {
    .header {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .logoContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 32px;
    line-height: 1;
    margin: auto 0;
  }

  .logo { 
    aspect-ratio: 1;
    object-fit: contain;
    width: 110px;
    max-width: 100%;
  }

  .brandName {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    color: #351f65;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.2vw;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    max-width: 100%;
  }

  @media (max-width: 991px) {
    .nav {
      font-size: 3.5vw;
      gap: 10px;
    }
  }

  .userInfo {
    display: flex;
    align-items: center;
    flex-direction: row; /* Horizontal alignment on larger screens */
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.3px;
  }

  @media (max-width: 991px) {
    .userInfo {
      flex-direction: column; /* Stack vertically on smaller screens */
    }
  }

  .userAvatar {
    aspect-ratio: 1;
    object-fit: contain;
    width: 83px;
    max-width: 100%;
    align-self: center;
    margin-right: 20px;
  }

  .greeting {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 22px;
  }
