.app {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  align-items:center;

}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 991px) {
  .app {
    max-width: 100%;
  }
}
