.signInPage {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: px;
}

/* Header Styling */
.header {
  background-color: #dafffd;
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  padding: 22px 26px;
  font-family: Inter, sans-serif;
  color: #000;
}

@media (max-width: 991px) {
  .header {
    padding: 20px;
  }
}

.logoContainer {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 20px;
}

/* Main Content Styling */
.mainContent {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 150px 40px;
}

.logo {
  width: 110px;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
}

.brandName {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav {
  display: flex;
  gap: 40px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  margin: auto 0;
}

@media (max-width: 991px) {
  .nav {
    max-width: 100%;
  }
}

.navPill {
  border-radius: 8px;
  background-color: #f5f5f5;
  display: flex;
  width: 73px;
  height: 48px;
  gap: 8px;
}

.registerLink {
  margin: auto 0;
}

.mainContent {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  position: relative;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 150px 20px;
}

@media (max-width: 991px) {
  .mainContent {
    padding: 80px 20px;
  }
}

.backgroundImage {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.signInContainer {
  position: relative;
  border-radius: 15px;
  background-color: rgba(236, 252, 251, 0.87);
  display: flex;
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

@media (max-width: 991px) {
  .signInContainer {
    margin-bottom: 10px;
    padding: 0 20px 100px;
  }
}

.signInForm {
  display: flex;
  flex-direction: column;
  margin-bottom: px;
  width: 692px;
  max-width: 100%;
}

@media (max-width: 991px) {
  .signInForm {
    margin-bottom: 10px;
  }
}

.signInTitle {
  color: #351f65;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  line-height: 48px;
}
@media (max-width: 991px) {
  .signInTitle {
    font-size: 28px;
    line-height: 36px;
  }
}

.inputGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}

@media (max-width: 991px) {
  .inputGroup {
    margin-top: 40px;
  }
}

.inputLabel {
  color: #000;
  width: 131px;
  margin: auto 0;
  font-size: 36px;
  font-weight: 200;
}

.inputField {
  border: none; /* Remove any border on input fields */
  border-radius: 0px;
  background-color: #fff;
  display: flex;
  min-height: 64px;
  align-items: center;
  color: #1d192b;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
}

@media (max-width: 991px) {
  .inputField {
    max-width: 100%;
  }
}

.inputContent {
  padding: 6px 12px;
}

.forgotPassword {
  color: #000;
  margin-top: 60px;
  font-size: 26px;
  font-weight: 200;
}

@media (max-width: 991px) {
  .forgotPassword {
    margin-top: 40px;
  }
}

.signUpPrompt {
  color: #000;
  margin-top: 158px;
  font-size: 26px;
  font-weight: 200;
}

@media (max-width: 991px) {
  .signUpPrompt {
    margin: 40px 0 0 7px;
  }
}

.createAccountButton {
  margin-top: 35px;
  min-height: 51px;
  color: #410e0b;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: 4px 0;
}

.buttonContainer {
  background-color: #d1c1f4;
  min-width: 200px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  padding: 10px 0;
  margin-top: 20px;
}

.buttonContent {
  padding: 10px 12px;
}

.visually-hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
