.carouselControls {
    display: flex;
    margin-top: 64px;
    width: 216px;
    max-width: 100%;
    gap: 20px;
    justify-content: space-between;
  }
  
  @media (max-width: 991px) {
    .carouselControls {
      margin-top: 40px;
    }
  }
  
  .carouselArrow {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 40px;
    border-radius: 200px;
    box-shadow: 0 0 10px 5px rgba(102, 109, 117, 0.1);
  }
  
  .carouselDots {
    display: flex;
    gap: 8px;
    margin: auto 0;
  }
  
  .carouselDot {
    border-radius: 50px;
    display: flex;
    width: 10px;
    height: 10px;
    border: 1px solid #351f65;
  }
  
  .carouselDotActive {
    background-color: #351f65;
  }
  
  .carouselDotInactive {
    background-color: #ffffff;
  }
  