.card {
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 3px rgba(102, 109, 117, 0.1);
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    align-items: start;
    font-family: Inter, sans-serif;
    font-weight: 700;
    margin: 0 auto;
    padding: 16px 16px 36px;
  }
  
  @media (max-width: 991px) {
    .card {
      margin-top: 40px;
    }
  }
  
  .cardImage {
    aspect-ratio: 1.66;
    object-fit: contain;
    object-position: center;
    width: 100%;
    align-self: stretch;
  }
  
  .cardTitle {
    color: #351f65;
    font-size: 15px;
    line-height: 24px;
    margin: 21px 0 0 16px;
  }
  
  @media (max-width: 991px) {
    .cardTitle {
      margin-left: 10px;
    }
  }
  
  .learnMore {
    display: flex;
    gap: 9px;
    font-size: 14px;
    color: #6240e8;
    line-height: 2;
    margin: 77px 0 0 16px;
  }
  
  @media (max-width: 991px) {
    .learnMore {
      margin: 40px 0 0 10px;
    }
  }
  
  .learnMoreText {
    flex-grow: 1;
  }
  
  .learnMoreIcon {
    aspect-ratio: 0.87;
    object-fit: contain;
    object-position: center;
    width: 14px;
  }
  