.inputGroup {
  display: flex;
  width: 100%;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 71px;
}

.inputLabel {
  color: #000;
  align-self: flex-end;
  margin-top: 29px;
  flex-grow: 1;
  font-size: 36px;
  font-weight: 200;
  line-height: 1;
  font-family: Inter, sans-serif;
}

.inputField {
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  min-height: 64px;
  align-items: center;
  padding: 6px 12px;
  color: #1d192b;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  font-family: Roboto, sans-serif;
  border: none;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .inputGroup {
    margin-top: 40px;
  }

  .inputField {
    max-width: 100%;
  }
}
