.registerForm {
  position: relative;
  border-radius: 50px;
  background-color: rgba(236, 252, 251, 0.87);
  display: flex;
  width: 970px;
  max-width: 100%;
  flex-direction: column;
  overflow: hidden;
  padding: 63px 80px;
}

.formTitle {
  color: #351f65;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #e8def8;
  letter-spacing: -0.25px;
  align-self: center;
  font-size: 57px;
  font-weight: 400;
  line-height: 64px;
  font-family: Roboto, sans-serif;
  border: 1px solid #e8def8;
  margin-bottom: 100px;
}

.signInPrompt {
  color: #000;
  align-self: flex-start;
  margin-top: 155px;
  font-size: 26px;
  font-weight: 200;
  line-height: 1;
  font-family: Inter, sans-serif;
}

.signInButton {
  align-self: flex-start;
  display: flex;
  margin-top: 30px;
  min-height: 51px;
  color: #410e0b;
  justify-content: center;
  padding: 4px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 44px;
  font-family: Roboto, -apple-system, Helvetica, sans-serif;
  border: none;
  background: none;
  cursor: pointer;
}

.buttonText {
  border-radius: 25px;
  background-color: #d1c1f4;
  display: flex;
  min-width: 240px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  border: 1px solid #79747e;
}

@media (max-width: 991px) {
  .registerForm {
    padding: 63px 20px;
  }

  .formTitle {
    font-size: 40px;
    line-height: 50px;
  }

  .signInPrompt {
    margin-top: 40px;
    margin-left: 8px;
  }
}
