.registerPage {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.registerSection {
  position: relative;
  min-height: 1485px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 276px 80px;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 991px) {
  .registerSection {
    padding: 100px 20px;
  }
}
